@model bodegaAPP.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    ViewBag.ReturnUrl = "/Menu/Index";
}

<div class="login">
    <h2>Crear cuenta</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group center-block">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control" id="Email" name="Email" type="text">
            </div>
        </div>
        <div class="form-group center-block">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input class="form-control" id="Password" name="Password" type="password">
            </div>
        </div>
        <div class="form-group center-block">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input class="form-control" id="ConfirmPassword" name="ConfirmPassword" type="password">
            </div>
        </div>
        <div class="form-group">
                <input type="submit" class="btn btn-default" value="Register" />
        </div>

    }

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
