@using bodegaAPP.Models
@model LoginViewModel
@{
    ViewBag.Title = "About";
}

<div class="bg-text">

    <h1>@ViewBag.Title.</h1>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</div>
